<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Offerte</ion-title>
    <button  ion-button menuToggle="right" end>
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content >


<ion-list>
  <ion-item *ngFor = "let item of offerteList  | async ">
    
    <ion-thumbnail item-left>
      <ion-spinner *ngIf="loading"></ion-spinner>
      <img [hidden]="loading" (load)="onLoad()" [src]="item.downloadURL | async" />
    </ion-thumbnail>

    <ion-badge  color="secondary">Offerta</ion-badge>
    <h2>{{item.nomePiatto}}</h2>
    <p>{{item.nomeRistorante}}</p>
    <del style="color:red;">{{item.prezzo | number : '1.2-2'}} CHF</del>
    <h2>{{item.prezzoOfferta | number : '1.2-2'}} CHF</h2>
    <p>Scade il: {{item.dataScadenza | date}}</p>
    <button ion-button clear item-right (click)="apriDettaglio(item)">Dettaglio</button>
  </ion-item>
</ion-list>

</ion-content>

