<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info piatto</ion-title>
    <button  ion-button menuToggle="right" end>
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content >
<ion-card>

<img [src]="item.downloadURL | async" >

  <ion-card-content>
    <ion-card-title>
      {{item.nomePiatto}}
      </ion-card-title>
    <p>
{{item.ricetta}}
    </p>
        <p>
Offerta termina il: {{item.dataScadenza | date}}
    </p>
  </ion-card-content>
</ion-card>

<ion-grid>
 <ion-row >
  <ion-col width-33 text-center>
<button ion-button icon-only color="secondary" (click)="add()">
  <ion-icon name="add" ></ion-icon>
</button>
  </ion-col>

  <ion-col width-33 text-center><p>{{quantity}} </p></ion-col>

 <ion-col width-33 text-center >
<button ion-button icon-only color="danger" (click)="remove()">
  <ion-icon name="remove" ></ion-icon>
</button>
  </ion-col>
</ion-row>
</ion-grid> 

<ion-list>
  <ion-list-header>
     <h2>Costo:</h2> 
  </ion-list-header>


  <ion-item *ngIf="!item.inOfferta">
    <h2>Costo singolo</h2>
    <h2 item-right>{{item.prezzo | number : '1.2-2'}} CHF</h2>
  </ion-item>
  <ion-item *ngIf="item.inOfferta">
    <h2>Costo singolo</h2>
    <del item-right>{{item.prezzo | number : '1.2-2'}} CHF</del>
  </ion-item>
  <ion-item *ngIf="item.inOfferta">
    <h2>Costo In offerta</h2>
    <h2 item-right>{{item.prezzoOfferta | number : '1.2-2'}} CHF</h2>
  </ion-item>



  <ion-item>
    <h2>Quantità</h2>
    <h2 item-right >{{quantity}}</h2>
  </ion-item>


  <ion-item *ngIf="!item.inOfferta">
    <h2>Costo Totale</h2>
    <h2 item-right style="color: #00C200;">{{quantity*item.prezzo | number : '1.2-2'}} CHF</h2>
  </ion-item>
  <ion-item *ngIf="item.inOfferta">
    <h2>Costo Totale</h2>
    <h2 item-right style="color: #00C200;">{{quantity*item.prezzoOfferta | number : '1.2-2'}} CHF</h2>
  </ion-item>

  <button  ion-button full (click)="aggiungiAlCarrello(item, quantity)">Aggiungi al carrello</button>
</ion-list>



</ion-content>