<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dettaglio ordine</ion-title>
    <button  ion-button menuToggle="right" end>
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>



<ion-content padding>
<ion-list>

  <ion-item *ngFor = "let item of listaordineDettaglio | async ">
          <ion-card>
            <ion-card-header>
              <p ion-text color="secondary">{{item.nomeRistorante}}</p>
               <br>
              {{item.nomePiatto}} 

            </ion-card-header>


            <ion-card-content>

               <ion-row *ngIf="!item.inOfferta">
                <ion-col width-50 ><p ion-text color="primary">Prezzo:</p></ion-col> 
                <ion-col ><p>{{item.prezzo | number : '1.2-2'}} CHF</p></ion-col>
             </ion-row>

             <ion-row *ngIf="item.inOfferta">
                <ion-col width-50 ><p ion-text color="primary">Prezzo:</p></ion-col> 
                <ion-col ><del style="color:red;">{{item.prezzo | number : '1.2-2'}} CHF</del></ion-col>
             </ion-row>

            <ion-row *ngIf="item.inOfferta">
                <ion-col width-50 ><p ion-text color="primary">Prezzo Offerta:</p></ion-col> 
                <ion-col ><p>{{item.prezzoOfferta | number : '1.2-2'}} CHF</p></ion-col>
             </ion-row>

               <ion-row >
                <ion-col width-50 ><p ion-text color="primary">Quantità:</p></ion-col> 
                <ion-col><p>{{item.quantity}}</p></ion-col>
             </ion-row>

            <ion-row *ngIf="!item.pronto">
                <ion-col width-50 ><p ion-text color="danger">Da prepare</p></ion-col> 
             </ion-row>

             <ion-row *ngIf="item.pronto">
                <ion-col width-50 ><p ion-text color="secondary">Pronto</p></ion-col> 
             </ion-row>
           
             </ion-card-content>

          </ion-card>
  </ion-item>

</ion-list>
</ion-content>

