<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menù</ion-title>
    <button  ion-button menuToggle="right" end>
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list>
  <ion-item *ngFor = "let item of piattiList | async" (click)="apriDettaglio(item)">
    <ion-thumbnail item-left>
      <ion-spinner *ngIf="loading"></ion-spinner>
      <img [hidden]="loading" (load)="onLoad()" [src]="item.downloadURL | async" />
    </ion-thumbnail>
    <ion-badge *ngIf="item.inOfferta" color="secondary">Offerta</ion-badge>
    <h2>{{item.nomePiatto}}</h2>
    <p>{{item.nomeRistorante}}</p>
    <p *ngIf="!item.inOfferta">{{item.prezzo| number : '1.2-2'}} CHF</p>
    <del *ngIf="item.inOfferta" style="color:red;">{{item.prezzo| number : '1.2-2'}} CHF</del>
    <p *ngIf="item.inOfferta">{{item.prezzoOfferta| number : '1.2-2'}} CHF</p>
    <p *ngIf="item.inOfferta">Scade il: {{item.dataScadenza | date}}</p>

    <button ion-button clear item-right (click)="apriDettaglio(item)"> <ion-icon name="arrow-round-forward"></ion-icon></button>
  </ion-item>
</ion-list>

</ion-content>
